@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    
}
body{
    margin: 0;
    background-color: rgb(23,23,23);
}

header{
    padding: 10px;
}

.navbar-div {
    background-color: white;
    display: flex;
}

.navbar-div .nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.thank-div{
    display: flex;
    justify-content: flex-end;
}
.logo-div{
    margin: 5px;
    display: flex;
    align-items: center;
}

.logo-div a{
    font-size: 24px;
    margin-left: 7px;
    font-weight: 600;
    color: whitesmoke;
}

.logo-div img{
    background-blend-mode: multiply;
    width: 30px;
    
}

li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}