.contact-us-container {
  display : flex;
  flex-wrap: wrap;
  /* background-color: #0d3030; */
  justify-content: center;
  gap: 60px;
  max-width : 1200px;
  margin : 0 auto;
  padding: 20px;
}

.profile-card {
  background-color : #1e1e1e;
  position: relative;
  border-radius : 8px;
  box-shadow : 0 2px 4px rgba(0,0,0,0.1);
  padding : 20px;
  text-align: center;
  flex : 1;
  padding : 20px;
  color : #fff; 
  min-width: 280px;
}


.profile-card img {
  width: 150px;
  padding : 2px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 2px solid #258254; /* Add a blue border around the profile photo */
}

.profile-details {
  text-align: center;
  color : #fcf3f3;
}

.profile-details h2 {
  font-size : 24px;
  margin : 0 0 10px;
}

.profile-details p {
  font-size: 18px; /* Larger font size for better readability */
  margin: 0;
  line-height: 1.5;
}

.profile-card .media-buttons {
  display : flex;
  justify-content: center;
  align-items : center;
  margin-top : 15px;
}

.media-buttons .link {
  display : flex;
  justify-content: center;
  align-items : center;
  color : #fff;
  font-size : 18px;
  height : 34px;
  width : 34px;
  border-radius : 50%;
  margin : 0 8px;
  background-color : #2070f4;
  text-decoration : none;
}

@keyframes shake-logo {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.link:hover{
  animation: shake-logo 0.5s ease infinite;
}