.trend{
  margin-top: 30px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

hr{
  margin-top: 75px;
}

p.lock-store {
  display : flex;
  justify-content: center;
  font-size : 32px;
  margin-top : 50px;
}

.lock-store .auth-link {
  text-decoration: none;
  font-weight: 600;
}
